In [48]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer

df = pd.read_csv('vgsales_4.csv')
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,435,Club Penguin: Elite Penguin Force,DS,2008.0,Adventure,Disney Interactive Studios,1.88,0.98,0.00,0.30,3.16
1,13444,Secret Files: Tunguska,PC,2006.0,Adventure,DreamCatcher Interactive,0.00,0.04,0.00,0.01,0.05
2,10126,ECW Anarchy Rulz,PS,1999.0,Fighting,Acclaim Entertainment,0.06,0.04,0.00,0.01,0.11
3,7585,Taiko no Tatsujin: Waku Waku Anime Matsuri,PS2,2003.0,Misc,Namco Bandai Games,0.00,0.00,0.20,0.00,0.20
4,10242,Breakout,PS,1999.0,Puzzle,Hasbro Interactive,0.06,0.04,0.00,0.01,0.11
...,...,...,...,...,...,...,...,...,...,...,...
548,11703,Genkai Totsuki Moero Chronicle,PSV,2014.0,Role-Playing,Compile Heart,0.00,0.00,0.08,0.00,0.08
549,13732,GoGo's Crazy Bones,DS,2012.0,Action,GameMill Entertainment,0.00,0.04,0.00,0.00,0.04
550,701,Yokai Watch Busters,3DS,2015.0,Action,Level 5,0.00,0.00,2.28,0.00,2.28
551,12849,Princess on Ice,DS,2008.0,Sports,505 Games,0.04,0.01,0.00,0.00,0.05
552,14554,Let's Dance with Mel B,PS3,2011.0,Sports,Black Bean Games,0.00,0.02,0.00,0.01,0.03

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 553 entries, 0 to 552
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          553 non-null    int64
 1   Name          553 non-null    object
 2   Platform      553 non-null    object
 3   Year          542 non-null    float64
 4   Genre         553 non-null    object
 5   Publisher     552 non-null    object
 6   NA_Sales      553 non-null    float64
 7   EU_Sales      553 non-null    float64
 8   JP_Sales      553 non-null    float64
 9   Other_Sales   553 non-null    float64
 10  Global_Sales  553 non-null    float64
dtypes: float64(6), int64(1), object(4)
memory usage: 47.6+ KB

In [50]:
df.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,553.000000,542.000000,553.000000,553.000000,553.000000,553.000000,553.000000
mean,7984.151899,2006.719557,0.257740,0.150416,0.083599,0.049439,0.541284
std,4816.212409,5.624638,0.598763,0.435015,0.374582,0.156615,1.338900
min,13.000000,1981.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,3691.000000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.070000
50%,7738.000000,2008.000000,0.090000,0.030000,0.000000,0.010000,0.190000
75%,12119.000000,2011.000000,0.280000,0.120000,0.040000,0.040000,0.540000
max,16584.000000,2016.000000,9.000000,6.180000,7.200000,2.460000,23.100000

In [51]:
df.shape

(553, 11)

In [52]:
dfr = df.drop(columns=['NA_Sales'])
dfr

,Rank,Name,Platform,Year,Genre,Publisher,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,435,Club Penguin: Elite Penguin Force,DS,2008.0,Adventure,Disney Interactive Studios,0.98,0.00,0.30,3.16
1,13444,Secret Files: Tunguska,PC,2006.0,Adventure,DreamCatcher Interactive,0.04,0.00,0.01,0.05
2,10126,ECW Anarchy Rulz,PS,1999.0,Fighting,Acclaim Entertainment,0.04,0.00,0.01,0.11
3,7585,Taiko no Tatsujin: Waku Waku Anime Matsuri,PS2,2003.0,Misc,Namco Bandai Games,0.00,0.20,0.00,0.20
4,10242,Breakout,PS,1999.0,Puzzle,Hasbro Interactive,0.04,0.00,0.01,0.11
...,...,...,...,...,...,...,...,...,...,...
548,11703,Genkai Totsuki Moero Chronicle,PSV,2014.0,Role-Playing,Compile Heart,0.00,0.08,0.00,0.08
549,13732,GoGo's Crazy Bones,DS,2012.0,Action,GameMill Entertainment,0.04,0.00,0.00,0.04
550,701,Yokai Watch Busters,3DS,2015.0,Action,Level 5,0.00,2.28,0.00,2.28
551,12849,Princess on Ice,DS,2008.0,Sports,505 Games,0.01,0.00,0.00,0.05
552,14554,Let's Dance with Mel B,PS3,2011.0,Sports,Black Bean Games,0.02,0.00,0.01,0.03

In [53]:
dfg = df.replace({'Publisher' : np.nan}, '1111')
dfg.isnull().sum()

Rank             0
Name             0
Platform         0
Year            11
Genre            0
Publisher        0
NA_Sales         0
EU_Sales         0
JP_Sales         0
Other_Sales      0
Global_Sales     0
dtype: int64

In [58]:
simple = SimpleImputer(strategy='mean', missing_values=np.nan)
simple = simple.fit(df[['Year']])
df['Year'] = simple.transform(df[['Year']])
df.isnull().sum()

Rank            0
Name            0
Platform        0
Year            0
Genre           0
Publisher       1
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

In [55]:
df.sort_values(by='Year', ascending=True)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
187,1155,River Raid,2600,1981.0,Shooter,Activision,1.49,0.09,0.00,0.02,1.60
140,2518,Custer's Revenge,2600,1981.0,Action,Mystique,0.76,0.05,0.00,0.01,0.82
366,765,Mahjong,NES,1983.0,Misc,Nintendo,0.01,0.00,2.13,0.00,2.14
438,5864,Famista '91,NES,1990.0,Sports,Namco Bandai Games,0.00,0.00,0.30,0.00,0.30
305,1078,Yoshi's Cookie,GB,1992.0,Puzzle,Nintendo,0.59,0.24,0.82,0.03,1.68
...,...,...,...,...,...,...,...,...,...,...,...
68,10816,ReCore,XOne,2016.0,Action,Microsoft Game Studios,0.06,0.03,0.00,0.01,0.10
339,11244,Ys VIII: Lacrimosa of Dana,PSV,2016.0,Role-Playing,Nihon Falcom Corporation,0.00,0.00,0.09,0.00,0.09
479,12940,FIFA 17,PC,2016.0,Sports,Electronic Arts,0.00,0.05,0.00,0.00,0.05
262,272,Uncharted 4: A Thief's End,PS4,2016.0,Shooter,Sony Computer Entertainment,1.30,2.07,0.18,0.65,4.20
492,16572,Resident Evil 4 HD,XOne,2016.0,Shooter,Capcom,0.01,0.00,0.00,0.00,0.01

In [60]:
df.to_csv('df.csv')
dfr.to_csv('dfr.csv')
dfg.to_csv('dfg.csv')